/* DeleteProductPopup.css */

.delete-product-button {
    align-items: center;
    max-width: auto;
    max-height: 50px;
    margin-top: 80px;
    background-color: hsl(4, 75%, 48%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none; /* Remove border outline */
    margin-bottom: 30px;
  }
  
  .delete-product-button:hover {
    background-color: hsl(4, 82%, 35%);
  }

.delete-product-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dim background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .delete-product-popup-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 900px;
    height: auto;
    display: flex; /* Use flexbox */
    flex-direction: column;
    position: relative;
  }
  
  .delete-popup-header {
    display: flex;
    align-items: center;
  }
  
  .delete-back-icon {
    font-size: 30px;
    color: grey;
    cursor: pointer;
  }
  
  .delete-popup-title {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }
  
  .delete-product-info-container {
    display: flex;
  }
  
  .delete-photo-container {
    width: 400px;
    height: 400px;
    background-color: #ccc;
    border: none;
    border-radius: 10px;
  }
  
  .delete-product-info {
    margin-left: 20px; /* Adjust spacing between photo and product info */
  }
  
  .delete-product-title {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  
  .delete-product-info-text {
    color: grey;
  }
  
  .delete-product-price {
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    color: black;
  }
  
  .delete-proceed-button {
    align-self: flex-end;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: hsl(4, 75%, 48%);
    color: white;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
  }
  
  .delete-proceed-button:hover {
    background-color: hsl(4, 82%, 35%);
  }