/* styles.css */
@keyframes emerge {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-emerge {
    animation: emerge 0.3s ease-out;
  }
  
  .animation-delay-500 {
    animation-delay: 0.5s;
  }